.Contacts {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    width: 60%;
    margin: 15px;
}

.Contacts img {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.Contacts p {
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}