.ContactData {
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.ContactData label {
    margin-right: 25px;
}

.ContactData img {
    width: 120px;
    height: 120px;
}

.Input {
    display: inline-block;
    margin: 5px 25px 5px auto;
    width: 80%;
}

@media (min-width: 600px) {
    .ContactData {
        width: 600px;
    }
}