.Contact img {
    width: 80px;
    height: 80px;
}
.btnClose {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    color: grey;
    font-weight: bold;
}